*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.block-container {
    margin-bottom: 20px;
}

.add-block-button {
    margin: 20px;
}

.pictureblock-div {
    display: flex;
    flex-direction: column;
}

textarea {
    border: none;
    border-bottom: 2px dashed;
    padding: 0;
    margin-bottom: 15px;
}

.picture-div {
    display: flex;
    flex-direction: column;
}

span{
    margin-top:2%;
}

img{
    width:250px;
}
.text-div-input {
    width: 264px;
    margin-bottom: 15px;
}